:root{
    /*Colores */
     --bitcoin-orange: #F7931A ;
     --soft-orange:#ffe9d5;
     --secondary-blue:#1A9AF7;
     --soft-blue: #e7f5e7FF;
     --warm-black: #201E1C ;
     --black:#282623;
     --gray:#BABABA;
     --gray2:#808080;
     --white:#fAf8f7;
     --just-white:#fff;

     /*sombra */
     box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);


}   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(207.8deg,#201e1c 16.69%, #f7931A 100%);
  
}
header img {
    width: 150px;    
    height: 24px;
    margin-top: 60px;
    justify-self: center;
}
.Container-htitle-header {
    width: 90%;
    min-width: 200px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self:cente;

}
  
   .Container-htitle-header h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
   }
   .Container-htitle-header p {
    margin-top: 25px ;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);

   } 
 .header-Button {
    left: calc(50% - 115px);
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 5px;
    width: 229px;
    height: 48px;
    text-decoration: none;
    margin-bottom: 0;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);

   }
  .header-Button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");

   
}

   main {
    width: 100%;
    height: auto;
    
   }
   .container-table     {
    width: 900px;
   }

   .main-exchanged-container {
    width: 100%;
    height: 900px;
    text-align: center;
    background-color:var(--white);
   }

   .main-exchanged-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;

   }
   .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat  ;
   }
   .main-exchanged-container h2 {
    margin-bottom: 20px;
    font-size:2.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);

   }

   .main-exchanged-container p {
    margin-bottom: 30px;
    margin-top: 1.6rem ;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;

   }
   .container-table {
   
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter",sans-serif;
  
    
   }
   .container-table .main-title{

    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: start;
   }
   .table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family:"Inter",sans-serif;

   }
   .table table {
    width: 100%;
    height: auto;
   }
   .table td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--just-white);
    height: 40px;
   }
   .container-table .table__top-left {
    border-radius: 15px 0 0 0 ;
   }
   .container-table .table__top-rigth {
    border-radius: 0 15px 0 0 ;
   }
   .container-table .table__button-left {
    border-radius:0 0 0 15px;
   }
   .container-table .table__button-rigth {
    border-radius: 0 0 15px 0 ;
   }
   .container-table .table__rigth{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1,9rem;
    color: #757575; 

   }
   .container-table .flecha{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   }
   .container-table .flecha2{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   }
   .container-table .container-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    
   }
   .container-date p {

    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
   }
  .container-table  .comisiones {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: start;
   }
   .tabla2__top-left{
    border-radius: 15px 0 0 0 ;
   }
   .tabla2__top-rigth{
    border-radius: 0 15px 0 0;
   }
   .table2__button-left {
    border-radius: 0 0 0 15px;
   }
   .table2__button-rigth{
    border-radius: 0 0 15px 0;
   }
    .container-date2 {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #00f0ff;
    border-radius: 8px;
   }
   .container-date2 p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
   }
    .container-3 {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        background-color: var(--warm-black); 
        margin-top: 30px;
        
    }
    .container-3 .container-3__img {
        position: absolute;
        width: 40px;
        height: 25px;
        margin-top: -30px;
        background-image: url(./assets/icons/batata.svg);
        left: calc(50% - 20px)
    }
    .container-3-titulo h2{
         width: 90%;
         min-width: 290px;
         height: auto;
         margin: 0 auto;
         font-weight: bold;
         margin-top: 50px;
         color: var(--white);
         text-align: center;
         font-size: 1.8rem;
     
    }
    .container-3-titulo p {
        color: var(--gray2);
        margin-top: 20px;
        font-size: 1.5rem;
        text-align: center;
    
     

    }
    .container-3--card{
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: var(--black);
        margin-top: 2rem;
        border-radius: 8px ;
        margin-bottom: 15px;
        
    }
    .container-3--card .container-3__img-clock{
  
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-bottom: 10px;
        background-image: url(./assets/icons/clock.svg);
        background-repeat: no-repeat;
        background-position:center;
        object-fit:cover ; 
    }

    .container-3 .container-3-p1 {
        color: var(--just-white);
        font-size: 20px;
        margin-bottom: 12px;

    }

    .container-3 .container-3-p2 {
        color: var(--gray2);
        font-size: 13px;
        line-height: 1.9rem;

    }

    .container-3-ojo {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: var(--black);
        margin-top: 2rem;
        border-radius: 8px ;
        margin-bottom: 15px;
        
      
    }
    .container3-ojo .container-3-ojo1{
        color: var(--just-white);
        font-size: 20px;
        margin-bottom: 12px;

    }
    .container3-ojo .container-3-ojo2{
        color: var(--gray2);
        font-size: 13px;
        margin-bottom: 12px;

    }
    .container3-ojo .container-img-ojo{
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-bottom: 10px;
        background-image: url(./assets/icons/eye.svg);
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
    }
    .container-3-dollar{
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: var(--black);
        margin-top: 2rem;
        border-radius: 8px;
        margin-bottom: 18px;
    }
    .container3-dollar .container-3-dollar1{
        color: var(--just-white);
        font-size: 20px;
        margin-bottom: 12px;


    }
    .container-3-dollar .container-3-dollar2 {
        color: var(--gray2);
        font-size: 13px;
        margin-bottom: 12px;
    }
    .container3-dollar .container-img-dollar{ 
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/dollar-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
     
    }
    .container-3-check {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: var(--black);
        margin-top: 2rem;
        margin-bottom: 18px;
        border-radius: 8px;
    }
    .container3-check .container-3-check1{
        font-size: 20px;
        margin-bottom: 20px;
        color: var(--just-white);
    }
    .container3-check .container-3-check2{
        font-size: 13px;
        color: var(--gray2);
        margin-bottom: 12px;

    }
    .container-3-check .container-img-check{
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-bottom: 10px;
        background-image: url(./assets/icons/check-circle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:  cover;
    }
    .container-4 {
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url(./assets/img/bitcoinbaby2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    .container-4 h2 {
        padding-top: 60px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color:var(--just-white);
        
    }
    .container-5{
        width: 100%;
        height: 500px;
        min-width: 320px;
        padding-bottom: 70px;
        text-align: center;
        background-color: var(--white);
 
    }
    .container5-title{
        width: 90%;
        min-width: 288px;
        height: auto;
  
        
    }
    .container5-title h2{
        padding-top: 50px;  
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--black);
        line-height: 2.6rem;
    }
    .container5-title p {
       padding-top: 30px;      
        font-size: 1.4rem;
        font-weight: 500px;
        color: var(--gray2);
        line-height: 1.8rem;

    }
    .contrainer5-plans{
        display: flex;
        height: 316px;
        overflow-x: auto;
        overscroll-behavior-x :contain;
        scroll-snap-type: x proximity;
        
    }
    .container-5__cards {
        position: relative;
        scroll-snap-align: center;
        width: 65%;
        min-width: 190px;
        max-width: 300px;
        height: 250px;
        border-radius: 8px;
        margin: 50px 15px 0 ;
        padding: 0 15px;
        background-color: var(--just-white);
        box-shadow: 0 4px 8px rgb(59,73,30,0.16);
        
    }
    .container-recomendado{
        font-size: 12px;
        color: var(--white);
        position: absolute;
        width: 120px;
        height: 31px;
        left: calc(50% - 60px);
        top: -15px;
        padding: 6px;
        border-radius: 8px;
        background-color: var(--bitcoin-orange);

    }
    .container-5-pagoanual{
        padding-top: 30px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.8rem;
        margin-top: 15px;
        color: black;
    }
    .container5-card-accion{
        padding: 5px 0;
        font-size:5.2rem ;
        font-weight: bold;
        line-height: 6.3rem;
        color: black;
    }
    .container5-card-accion span {
        font-size: 1.2rem;
        font-weight: 300;
       vertical-align: text-top;
    }
    .container5-card-saving{
        font-size: 1.4rem;
        color: var(--gray2);
    }
    .button-escoger{
        width: 150px;
        height: 48px;
        border-radius: 4px;
        border: 2px solid var(--bitcoin-orange);
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .button-escoger span{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(./assets/icons/orange-right-arrow.svg);
        vertical-align: text-bottom;

    }
    footer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 150px;
        background-color: var(--bitcoin-orange);
        
    }
    footer section {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50%;
    
}
    footer .left ul li {
        font-size: 1.4rem;
        line-height: 25px;
        color:var(--white);
        font-weight: 500;
        list-style: none;

}
    footer .rigth li {
        margin: 10px 0;
    }
    footer a {
        text-decoration: none;
        color: var(--just-white);
    }
